<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Moves</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <ion-searchbar color="dark" style placeholder="Filter Moves" [(ngModel)]="currentFilter" (ionChange)="updateFilter()">
  </ion-searchbar>
  <br>

  <ion-list *ngFor="let move of filteredMoves">
    <ion-item-sliding>
      <ion-item>
        <ion-col size="5">
          <span>{{move.name | titlecase }}</span>
        </ion-col>

        <ion-col size="4">
          <ion-text class="move-pa">
            <span *ngIf="move.power">Power: {{move.power}}</span>
            <span *ngIf="!move.power">Power: ?</span>
            <br>
            <span *ngIf="move.accuracy">Accuracy: {{move.accuracy}}</span>
            <span *ngIf="!move.accuracy">Accuracy: ?</span>
          </ion-text>
        </ion-col>

        <ion-col class="tae" size="3">
          <ion-badge color="danger">{{move.type.name | uppercase}}</ion-badge>
          <br>
          <ion-badge color="danger">{{move.damage_class.name | uppercase}}</ion-badge>
        </ion-col>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>