<ion-tabs>
  <ion-tab-bar color="danger" slot="bottom">
    <ion-tab-button tab="pokemons">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Pokémons</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="moves">
      <ion-icon name="flash-outline"></ion-icon>
      <ion-label>Moves</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="items">
      <ion-icon name="flask-outline"></ion-icon>
      <ion-label>Items</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>