<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Pokémon</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">

  <ion-searchbar color="dark" style placeholder="Filter Pokémons" [(ngModel)]="currentFilter" (ionChange)="updateFilter()"></ion-searchbar>

  <ion-row>
    <ion-col *ngFor="let poke of filteredPokes" size="6" [routerLink]="['/details' , poke.id]">
      <ion-card class="ion-activatable ripple-parent">
        <ion-card-header>
          <span> #{{poke.id}}</span>
          <ion-img [src]="poke.sprites.front_default"></ion-img>
          <ion-card-title>{{poke.name | titlecase }}</ion-card-title>
        </ion-card-header>
        
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
