ul {
    font-style: bold;
}

p {
    font-size: 16px;
    font-weight: bold;
}

h5 {
    font-family: "Italic";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-family: "Arial";
    color: rgb(26, 134, 26);
}

ion-card img {
    height: 100px;
    width: 100px;
    text-align: center center;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-family: "Arial";
    color: rgb(197, 171, 22);
}

ion-card-content {
    font-weight: bold;
}

h4 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: "Arial";
    color: rgb(175, 40, 130);
}

ion-badge {
    color: white;
    background: brown;
}

ion-title {
    text-shadow: 2px 2px #000000;
}

.red {
    color: brown;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: "Arial";
}

.blue {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: "Arial";
    color: blue;
}
.poison {
    color: rgb(175, 40, 130);
}
.verde {
    color: green;
}
.negrito {
    font-weight: bold;
    font-size: 25px;
    font-family: "Italic";
    color: rgb(71, 23, 21);
}
