ion-img {
  height: 125px;
  width: 125px;
  margin: auto;
  display: block;
}

ion-card-title {
  text-align: center;
  font-size: 18px;
}

ion-badge {
  font-size: 10px;
}

ion-card-content {
  font-size: 14px;
}