#centralizar{

  text-align:center;
}


.azul{
    color: blue;
}

.white{
  color: goldenrod;
}


ion-content{
  --background: url(https://i.pinimg.com/originals/65/bb/6b/65bb6b19742569e7e148c8637090bdf8.jpg)no-repeat center center fixed;
  --background-size: cover; /*Css padrão*/
  --webkit-background-size: cover; /*Css safari e chrome*/
  --moz-background-size: cover; /*Css firefox*/
  --ms-background-size: cover; /*Css IE não use mer#^@%#*/
 --o-background-size: cover; /*Css Opera*/
 }

 ion-toolbar ion-title{
    color:black;
    

 }

    h1{
      font-family: 'Arial';
      font-size: 25px;
      display:block;

    }
    ul{
      font-family:'Arial';
      font-size: 13px;
      display:block;
    }


    .transparent{
      --background: none;
  opacity:1;
    }

  a{
    color:rgb(250, 250, 250);
  }

  .lines{
    color:white;
  }

  ion-button{
    font-weight: bold;
  }

  ion-label{
    font-weight: bold;
  }

  ion-title{
    font-weight: bold;

  }

  .title{
    color:white;
    text-align: center;
    font-style:italic;
  }