<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="title">
      <ion-buttons slot="start">
        <img src="/Pokeball.jpg" width="100">
      </ion-buttons>

      Listagens de Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding"style="black">

  <ion-item color="transparent"lines="none">
<ion-col>
    <h1 style="color:rgb(255, 255, 255);display:block">Login
    </h1>
  </ion-col>
<ion-col>
  <ion-col>
  </ion-col>
</ion-col>

</ion-item>
 <ion-item color="dark" lines="white">

   <ion-label position="floating" style="color: rgb(255, 255, 255);">Usuario</ion-label>

   <ion-input type="text"></ion-input>


 </ion-item>

 <ion-item color="dark" lines="white">

  <ion-label position="floating"style="color:  rgb(255, 255, 255);">Senha</ion-label> 
  <ion-input type="text"></ion-input>

</ion-item>
<ion-button color="danger"(click)="Entrar()" expand="block" class="ion-margin-top">
  Entrar
 </ion-button>

 <a>Esqueci minha senha"</a>
<ion-content>
