<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false" class="ion-padding">
  <h1>
    Welcome!
  </h1>
  <!-- Login section -->

  <section>
    <ion-item color="primary">
      <ion-label position="floating">Username <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="userName" required type="text"></ion-input>
    </ion-item>

    <ion-item color="primary">
      <ion-label position="floating">Password <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="userPassword" required type="password"></ion-input>
    </ion-item>

    <ion-button (click)="showData()" color="danger" class="ion-margin-top" routerLink="/tabs/pokemons" expand="block" type="submit">
      Login
    </ion-button>
  </section>

  <!-- Utility section -->

  <section>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-checkbox [(ngModel)]="rememberMe" (ionChange)="updateRememberMe()"></ion-checkbox>
      </ion-col>
      <ion-col>
        <p>Remember me</p>
      </ion-col>

      <!-- Instructions for password recovery -->

      <ion-col size="auto">
        <p><a href="#">Forgot your password?</a></p>
      </ion-col>
    </ion-row>
  </section>

  <p class="ac">App Version 0.8</p>
</ion-content>