ion-card-title {
    text-align: center;    
}

ion-card-content {
    text-align: justify;
}

ion-title {
    text-shadow: 2px 2px #000000;
    color: white;
    font-weight: bold;
}

h6 {
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}

.item-avatar {
   
    width: 50% !important;
    height: 100% !important;
    max-width: 90px !important;
    max-height: 100px !important;
}
