ion-card-title {
    text-align: center;    
}

ion-card-content {
    text-align: center;
}

h6 {
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}

.item-avatar {   
    width: 50% !important;
    height: 100% !important;
    max-width: 90px !important;
    max-height: 100px !important;
}

ion-badge {
    width: 60px;
    font-size: 10px;
  }