<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Pokémon Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <h1>
    Bulbasaur
  </h1>
  <ion-row>
    <ion-col class="ion-align-self-end">
      <ion-badge color="success">grass</ion-badge>
    </ion-col>
    <ion-col>
      <ion-badge color="danger">poison</ion-badge>
    </ion-col>
  </ion-row>

  <ion-avatar class="avatar">
    <img
      src="https://www.pinclipart.com/picdir/big/547-5473168_bulbasaur-png-transparent-image-pokemon-bulbasaur-clipart.png">
  </ion-avatar>
  <h3>
    Attacks
  </h3>
  <ul>
    <li>Growl</li>
    <li>Tackle</li>
    <li>Vine Whip</li>
  </ul>
  <h3>
    Abilities
  </h3>
  <ul>
    <li>Overgrow</li>
    <li>Chlorophyll (hidden ability)</li>
  </ul>
  <h3>
    Evolution
  </h3>
  <img style="margin-top: 1rem;"
    src="https://th.bing.com/th/id/R64e7930dc787c05ab0f74c48898712bf?rik=9xKB0gktYYfMUA&riu=http%3a%2f%2f1.bp.blogspot.com%2f-PE0Hq2bbWfo%2fUR_XsIaElXI%2fAAAAAAAAABs%2fIHDeFn4dvFM%2fs640%2fSem%2bt%c3%adtulo.jpg&ehk=AxHyEGjF4UcMW8703hFK3WBbDf0AtCQ7INcF2RFGHQk%3d&risl=&pid=ImgRaw"
    alt="evolution">
</ion-content>