ion-card-title {
    text-align: center;
}

ul {
    list-style: none;
}

.avatar {
    margin: auto;
    margin-top: 2rem;
}

h3 {
    margin-top: 2rem;
}

ion-card-content {
    text-align: justify;
}

ion-title {
    text-shadow: 2px 2px #000000;
    color: white;
    text-align: center;
    font-weight: bold;
}

h5 {
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}
