<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/pokemons"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button menu="menuId">
        <img src="../../assets/icon/favorite.png">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main" color="light" class="ion-padding">

  <ion-row *ngIf="!currentPokemon" class="ion-text-center">
    <ion-col>
      <ion-text>
        <span>Loading Pokémon data...</span>
      </ion-text>
    </ion-col>
  </ion-row>

  <section *ngIf="currentPokemon">
    <ion-card class="ion-no-margin">
      <ion-card-header class="ion-no-padding">
        <ion-slides>

          <ion-slide>
            <ion-avatar class="item-avatar">
              <ion-img [src]="currentPokemon.sprites.front_default"></ion-img>
            </ion-avatar>
          </ion-slide>

          <ion-slide>
            <ion-avatar class="item-avatar">
              <ion-img [src]="currentPokemon.sprites.back_default"></ion-img>
            </ion-avatar>
          </ion-slide>

          <ion-slide>
            <ion-avatar class="item-avatar">
              <ion-img [src]="currentPokemon.sprites.front_shiny"></ion-img>
            </ion-avatar>
          </ion-slide>

          <ion-slide>
            <ion-avatar class="item-avatar">
              <ion-img [src]="currentPokemon.sprites.back_shiny"></ion-img>
            </ion-avatar>
          </ion-slide>
        </ion-slides>
      </ion-card-header>

      <ion-card-title>
        {{ currentPokemon.name | titlecase }}
      </ion-card-title>

      <ion-row *ngIf="currentPokemon.types.length === 1">
        <ion-col class="ion-text-center">
          <ion-badge color="danger">{{currentPokemon.types[0].type.name }}</ion-badge>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="currentPokemon.types.length > 1">
        <ion-col class="ion-text-center">
          <ion-badge color="danger">{{currentPokemon.types[0].type.name }}</ion-badge>
          <ion-badge color="danger">{{currentPokemon.types[1].type.name }}</ion-badge>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center ion-align-items-center">
        <ion-col>
          <ion-icon (click)="favPokemon()" [name]="isFavorite? 'star': 'star-outline'"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <h6>Base Stats</h6>
      </ion-col>

      <ion-col size="auto">
        <ion-icon name="stats-chart"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item *ngFor="let currentStat of currentPokemon.stats">
        <ion-col>
          <span>{{currentStat.stat.name | titlecase}}: {{currentStat.base_stat}}</span>
        </ion-col>
        <ion-col>
          <ion-progress-bar color="danger" [value]="currentStat.base_stat/100"></ion-progress-bar>
        </ion-col>
      </ion-item>
    </ion-list>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <h6>Abilities</h6>
      </ion-col>

      <ion-col size="auto">
        <ion-icon name="flame"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-list *ngFor="let currentAbility of currentPokemon.abilities">
      <ion-item>
        <span>{{currentAbility.ability.name | titlecase}}</span>
        <ion-icon (click)="showPokeAbilityDesc(currentAbility)" slot="end" name="information-circle-outline"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <h6>Moves</h6>
      </ion-col>

      <ion-col size="auto">
        <ion-icon name="flash"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-list *ngFor="let currentMove of currentPokemon.moves">
      <ion-item>
        <span>{{currentMove.move.name | titlecase}}</span>
        <ion-icon (click)="showPokeMoveDesc(currentMove)" slot="end" name="information-circle-outline"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <h6>Measures</h6>
      </ion-col>

      <ion-col size="auto">
        <ion-icon name="barbell-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item>
        <ion-label>Height: {{ currentPokemon.height }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Weight: {{ currentPokemon.weight }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <h6>Evolution path</h6>
      </ion-col>

      <ion-col size="auto">
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-card class="ion-no-margin">
      <ion-row>
        <ion-col>
          <ion-img [src]="currentPokemon.sprites.front_default"></ion-img>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-card>
  </section>
</ion-content>

<ion-menu side="end" menuId="menuId" contentId="main">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title> {{nameOfUser}} Favorite Pokémon </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="light" class="ion-padding">

    <ion-list *ngFor="let favoritePokemon of allFavoritePokemon">
      <ion-item [routerLink]="['/details' , favoritePokemon.id]">
        <ion-thumbnail slot="start">
          <img [src]="favoritePokemon.sprites.front_default" />
        </ion-thumbnail>
        <span>{{ favoritePokemon.name | titlecase}}</span>
      </ion-item>
    </ion-list>
  </ion-content>